.blog{
     margin-bottom: 100px;
     .template-title{
        margin-bottom: 33px;
     }
    .news{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        .news-large{
            max-width: 543px;
            margin-right: 30px;
            img{
                max-width: 555px;
                max-height: 400px;
            }
            .blog-title{
                font-size: 30px;
                line-height: 117%;
                color: $title-cl;
                font-family: $font-primary;
            }
            .blog-description{
                font-size: 15px;
                line-height: 133%;
                color: $title-cl;
                font-family: $font-secondary;
            }
        }
        .news-small{
            .news-1,
            .news-2,
            .news-3{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                margin-right: 15px;
                font-size: 18px;
                line-height: 139%;
                color: $title-cl;
                font-family: $font-secondary;
                img{
                    padding-right: 15px;
                }
                .news-title{
                    max-width: 270px;
                }
            }
        }
    }
    a{
        text-decoration: none;
        color: $title-cl;
        img{
            margin-right: 4px;
        }
        &:hover{
            color: #17A550;
        }
    }
}