body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    max-width: 1174px;
}
.template-title{
    font-weight: 400;
    font-size: 38px;
    line-height: 105%;
    color: $title-cl;    
    font-family: $font-primary;
}
.small-bg{
    background: url(../assets/img/img-small.svg);
    max-width: 1174px;
    margin: 0 auto;
}