<section class="banner">
    <div class="container">
        <div class="banner-filling">
            <div class="banner-img">
                <img src="assets/img/banner-img.png" alt="banner">
            </div>
            <div class="banner-info">
                <h4 class="banner-subtitle">Introducing Affiliate Template for Webflow</h4>
                <h6 class="banner-title">Easy-to-use Template for building Affiliate Sites</h6>
                <h4 class="banner-description"><b>Affiliate</b> is a Webflow template made for entrepreneurs who want a professional and polished site ready to start and grow their affiliate marketing business in any niche.</h4>
                <button class="btn btn-banner">Buy this Template</button>
            </div>    
        </div>
    </div>
</section>