<section class="blog">
    <div class="container">
        <div class="template-title">
            Latest from the Blog
        </div>
        <div class="news">
            <div class="news-large">
                <img src="assets/img/news-large.png" alt="news">
                <h3 class="blog-title">
                    How to Prep Your Lawn in the Spring
                </h3>
                <h5 class="blog-description">
                    This is the blog description text. This is the blog description text. This is the blog description text.
                </h5>
            </div>
            <div class="news-small">
                <div class="news-1">
                    <img src="assets/img/small-1.png" alt="news">
                    <div class="news-title">Secrets to Know About Hedge Trimming</div>
                </div>
                <div class="news-2">
                    <img src="assets/img/small-2.png" alt="news">
                    <div class="news-title">What to Do With a Dying Tree</div>
                </div>
                <div class="news-3">
                    <img src="assets/img/small-3.png" alt="news">
                    <div class="news-title">Which Flowers Should You Plant Garden</div>
                </div>
            </div>    
        </div>
        <a href="index.html"><img src="assets/img/play-img.svg" alt="play">View All Blog Articles</a>
    </div>
</section>