<section class="cards">
    <div class="container">
        <div class="template-title">
            Latest Product Reviews
        </div>
        <div class="cards-list">
            <div class="card-1">
                <img src="assets/img/card-1.png" alt="card">
                <h2 class="card-title">
                    Lawnmower Xtreme
                </h2>
                <h4 class="card-description">
                    This is the Review Snippet. This is the Review Snippet. This is the Review Snippet. This is the Review Snippet.
                </h4>    
            </div>
            <div class="card-1">
                <img src="assets/img/card-2.png" alt="card">
                <h2 class="card-title">
                    Ultra Grow Fertilizer
                </h2>
                <h4 class="card-description">
                    This is the Review Snippet. This is the Review Snippet. This is the Review Snippet. This is the Review Snippet.
                </h4>    
            </div>
            <div class="card-1">
                <img src="assets/img/card-3.png" alt="card">
                <h2 class="card-title">
                    Hedge Clippers
                </h2>
                <h4 class="card-description">
                    This is the Review Snippet. This is the Review Snippet. This is the Review Snippet. This is the Review Snippet.
                </h4>    
            </div>
        </div>
        <a href="index.html"><img src="assets/img/play-img.svg" alt="play">View all Product Reviews</a>
    </div>
</section>