<footer class="bg-large">
	<div class="container">
		<div class="footer-nav">
			<div class="footer-link">
				<img class="footer-logo" src="assets/img/logo.svg" alt="logo">
				<div class="link-social">
					<a href="#"><img src="assets/img/fb.svg" alt="fb"></a>
					<a href="#"><img src="assets/img/twitter.svg" alt="twitter"></a>
					<a href="#"><img src="assets/img/inst.svg" alt="inst"></a>
				</div>
				<h4 class="footer-description">
					<b>Affiliate</b> is a Webflow template made for entrepreneurs who want a professional and polished site ready to start and grow their affiliate marketing business in any niche.
				</h4>
			</div>
			<div class="footer-articles">
				<h2 class="footer-title">Latest Articles</h2>
				<div class="articles-1">
					<img src="assets/img/articles-1.svg" alt="articles">
					<h4 class="articles-description">
						How to Prep Your Lawn in the Spring
					</h4>
				</div>
				<div class="articles-1">
					<img src="assets/img/articles-2.svg" alt="articles">
					<h4 class="articles-description">
						Secrets to Know About Hedge Trimming
					</h4>
				</div>
				<div class="articles-1">
					<img src="assets/img/articles-3.svg" alt="articles">
					<h4 class="articles-description">
						What to Do With a Dying Tree
					</h4>
				</div>
			</div>
			<div class="footer-browse">
				<h2 class="footer-title">Browse</h2>
				<div class="input-group input-custom">
					<input type="text" class="form-control" aria-describedby="button-addon2">
					<button class="btn btn-outline-secondary btn-input_custom" type="button" id="button-addon2">Search</button>
				  </div>
				  <div class="page-list">
					<a href="#">About</a>
					<a href="#">Categories</a>
					<a href="#">Tools</a>
					<a href="#">Contact</a>
					<a href="#">Privacy Policy</a>
					<a href="#">Affiliate Disclosure</a>
				  </div>
				  <h4 class="footer-data">
					©2022 Your Brand Name
				  </h4>
			</div>	
		</div>
	</div>
</footer>
<script async src="assets/js/custom.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>