<section class="sing-up large-bg">
    <div class="container">
        <div class="sing-up_elements">
            <div class="sing-up_img">
                <img src="assets/img/img-sing-up.svg" alt="sing">
            </div>
            <div class="sing-up_info">
                <h2 class="sing-up_title"><img src="assets/img/sms.svg" alt="sms">Newsletter Signup</h2>
                <h4 class="sing-up_description">Be the first to receive updates on articles, product reviews, courses, and more!</h4>
                <div class="input-box">
                    <label for="email"></label>
                    <input id="email" type="text" placeholder="Your email">    
                </div>
                <button class="btn btn-submit">Submit</button>
                <button class="btn btn-privacy">Privacy Policy</button>
            </div>    
        </div>
    </div>
</section>